%section#about.clearfix
	#about-container
		%h3 What is Ramblr?
		%p Ramblr is locally sourced search.
		%p Go down the street, across town and over the ocean -- without leaving your room/house/car/office. There's a big world out there to discover. Luckily a bunch of people already did it for you.
		%p
			Ramble on. ( Brought to you by
			%a{:href => "http://twitter.com/danwaz", :target => "_blank"} @danwaz
			and
			%a{:href => "http://twitter.com/daniec" , :target => "_blank"} @daniec
			\).
		%iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Framblr.us&send=false&layout=button_count&width=200&show_faces=false&action=like&colorscheme=light&font&height=21&appId=381504288582373", :style => "border:none; overflow:hidden; width:100px; height:21px;"}
		%a.twitter-share-button{"data-lang" => "en", :href => "https://twitter.com/share", "data-text" => "Ramblr | Locally Sourced Search", "data-url" => "http://ramblr.us", "data-counturl" => "http://ramblr.us"} Tweet