%header
	#header-container
		#search-container
			%form#search
				%input{:name => "input", :type => "text", :id => "autocomplete"}
				%input{:type => "submit", :value => "submit"}
			.icons-search-icon
		#logo.icons-ramblr-logo-word
			%h1 Ramblr
		#info.icons-info-icon
			info