/**

//HTML5 Boilerplate + Normalize Built In
*= require "vendor/html5bp.css"

*/
@import 'compass';
@import 'compass/css3';
@import 'vendor/variables';
@import 'vendor/isotope';

//sprites
@import "icons/*.png";
@include all-icons-sprites;

body{
	margin: 0;
	background: #dedede;
	background-image: url('../img/ui/zenbg-1.png'), url('../img/ui/zenbg-2.png');
	background-repeat: repeat-x, repeat;
}

header{
	margin: 0;
	width: 100%;
	height: 50px;
	@include background-image(linear-gradient(#605F5F, #3d3c3c));
	@include box-shadow(0px 0px 1px #3d3c3c);
	position: fixed;
	z-index: 10;
	#header-container{
		width: $site-width;
		min-width: $site-width;
		margin: 0 auto;
		padding: 0 10px;
		#logo{
			width: 92px;
			height: 27px;
			margin: 0 auto;
			position: relative;
			top: 14px;
			h1{
				margin: 0;
				text-indent: -9999px;
			}
		}

		#search-container{
			width: 400px;
			line-height: 50px;
			float: left;
			position: relative;
			margin-left: 5px;
			input[type="submit"]{
				margin-top: 10px;
				height: 30px;
				position: relative;
				bottom: 1px;
				visibility: hidden;
			}
			#autocomplete{
				width: 305px;
				height: 21px;
				padding-left: 5px;
				padding-right: 2px;
			}
			.icons-search-icon{
				width: 41px;
				height: 21px;
				position: absolute;
				top: 15px;
				right: 87px;
			}
		}
	}
}

#welcome{
	width: $site-width;
	margin: 200px auto 0;
	text-align: center;
	font-family: 'Quando', serif;
	h2{
		font-size: 48px;
		margin: 20px 0 0;
		position: relative;
	}
	p{
		color: #999;
		font-size: 13px;
		margin: 0;
		cursor: help;
	}
}

#map{
	position: relative;
	margin-top: 50px;
	height: 250px;
	width: 100%;
	background: #DDD;
	display: none;
	@include box-shadow(0px 1px 2px #3d3c3c);

}

#map-container{
	display: none;
}


#content-grid{
	margin: 20px auto;
}

#content-grid .instagram{
	margin: 5px;
	box-shadow: 1px 1px 2px #999;
}

.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	left: 0;
}

.overlay h2{
	font-size: 96px;
	letter-spacing: -2px;
	line-height: 310px;
	color: white;
	background: rgba(0,0,0,.2);
	margin: 0;
	text-align: center;
}

.overlay h3{
	font-family: Helvetica Neue, Helvetica, sans-serif;
	font-size: 40px;
	line-height: 150px;
	color: white;
	background: rgba(0,0,0,.2);
	margin: 0;
	text-align: center;
}

#top{
	width: 96px;
	height: 40px;
	line-height: 40px;
	position: fixed;
	bottom: -40px;
	background: black;
	color: white;
	border-radius: 2px;
	padding: 0 10px;
	right: 46%;
	z-index: 50;
	text-align: center;
	opacity: 0.8;
	cursor: pointer;
	font-weight: bold;
}

@media (max-device-width: 480px) {

}