---
title: Ramblr | Locally Sourced Search
description:
---

= partial "partials/map"
%section#welcome
	%h2 Where do you want to go today?
	%p (The search bar is at the top)
%section#content-grid
#top Top