---
title: Ramblr
description: Ramblr is locally sourced search. Go down the street, across town and over the ocean -- without leaving your room/house/car/office. There's a big world out there to discover. Luckily a bunch of people already did it for you.
---

= partial "partials/map"
%section#welcome
	%h2 Where do you want to go today?
	%p (The search bar is at the top)
%section#content-grid
#top Top

#hash-container
	%p Search