---
title: Instagram Places Search
description: Search Instagram using the Google Places API + Foursquare API
---

#search-container.item
	%h1
		Let's find some Instagrams

	%form
		%input{:name => "input", :type => "text", :id => "autocomplete"}
		%input{:type => "submit", :value => "submit"}

#map.item