---
title: Dan + Dan + Instagram
description: The mad nasty bomb notes.
---

#search-container.item
	%h1
		Let's find some Instagrams

	%form
		%input{:name => "input", :type => "text", :id => "autocomplete"}
		%input{:type => "submit", :value => "submit"}

#map.item